*~
#*

hermitux-kernel
syscall-rewriter
syscall-identification
hermit-compiler
musl-hermitux
musl
obfuscator
obfuscator-build

prog
prog_fast

libiomp
boost_1_61_0
dyninst-9.2.0

hermitux-toolchain/
apps/lighttpd/sconsbuild/**
apps/lighttpd/.sconf_temp
apps/lighttpd/**/*.a
apps/lighttpd/**/*.Plo
